<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Mapper.UserMapper">
    <update id="updateUserInfo" parameterType="map">
        UPDATE user
        <set>
            <if test="userUpdateDTO.username != null">username = #{userUpdateDTO.username},</if>
            <if test="userUpdateDTO.realName != null">real_name = #{userUpdateDTO.realName},</if>
            <if test="userUpdateDTO.gender != null">gender = #{userUpdateDTO.gender},</if>
            <if test="userUpdateDTO.phone != null">phone = #{userUpdateDTO.phone},</if>
            <if test="userUpdateDTO.email != null">email = #{userUpdateDTO.email},</if>
            <if test="userUpdateDTO.avatarUrl != null">avatar_url = #{userUpdateDTO.avatarUrl},</if>
            <if test="userUpdateDTO.location != null">location = #{userUpdateDTO.location},</if>
            <if test="userUpdateDTO.password != null">password = #{userUpdateDTO.password},</if>
            update_time = NOW()
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>
